/* All colors in project */
:root {
  --white-text: rgb(255,255,255,1);
  --black-text: rgb(33,33,33,1);
  --grey-text: rgb(117,117,117,1);
  --grey-text-op60: rgb(255,255,255,0.6);

  --light-grey: rgb(175,177,184,1);

  --back-light-black: rgb(47,48,58,1);
  --back-light-black-op80: rgba(47, 48, 58, 0.8);
  --back-light-grey: rgb(245,244,250,1);
  --back-blue: rgb(33,150,243,1);
  --back-light-grey-op10: rgb(255,255,255,0.1);

  --border-light-grey: rgb(236, 236, 236, 1);
  --border-light-grey2: rgb(238, 238, 238, 1);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Font-family in project */
body {
  font-family: 'Roboto', sans-serif;
}

/* Reset margin in all elements in project*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Change all images to block-type in project*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: sticky;
  top: -1px;
  z-index: 2;

  padding-top: 24px;
  padding-bottom: 25px;
  
  background-color: var(--white-text);
  border-bottom: 1px solid var(--border-light-grey);
}

/* Container in index.html and portfolio.html*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red; */
}

/* Main link in index.html and portfolio.html*/
.main-link {
  display: flex;
  align-items: center;

  /* height: 80px; */
}

/* Site navigation in index.html and portfolio.html*/
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .site-link + .site-link {
  margin-left: 50px;
}

.site-link {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Alternative */
/* .site-nav .site-link {
  margin-right: 50px;
}

.site-nav .site-link:last-child {
  margin-right: 0;
} */

/* .site-nav .site-link:not(:last-child) {
  margin-right: 50px;
} */


/* Contacts link in index.html and portfolio.html*/
.contact-link {
  display: flex;
  margin-left: auto;
}

.contact-link .site-link + .site-link {
  margin-left: 30px;
}

/* Alternative */
/* .contact-link .site-link:not(:last-child) {
  margin-right: 50px;
} */

/* Header in index.html and portfolio.html */
.logo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-text);
}

.logo-blue {
  color: var(--back-blue);
}

.link-black {
  position: relative;

  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic);
}

.current:visited {
  color: var(--back-blue);
}

.link-grey {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  transition: color 250ms var(--cubic);
}

.link-black:hover,
.link-black:focus,
.link-grey:hover,
.link-grey:focus {
  color: var(--back-blue);
}

.link-black::after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;

  width: 100%;
  height: 4px;

  transform: translateY(29.5px);
  transition: opacity 250ms var(--cubic);

  background-color: var(--back-blue);
  border-radius: 2px;

  opacity: 0;
}

.current.link-black::after {
  opacity: 1;
}

.link-black:hover.link-black::after {
  opacity: 1;
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
}


/* Alternative */
/* .link-grey:hover,
.link-grey:focus {
  color: var(--back-blue);
} */

/* Hero in index.html*/
.hero {
  background: var(--back-light-black);
  color: var(--white-text);
  width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  text-align: center;
  padding: 200px 0;

  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');

  height: 600px;
  width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  max-width: 696px;
  margin: 0 auto;

  text-transform: uppercase;
}

.hero-button {
  background: var(--back-blue);
  color: var(--white-text);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  align-items: center;
  text-align: center;

  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;

  cursor: pointer;
  transition: color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-text);
  color: var(--back-blue);
}

/* Advantages in index.html*/
.advantages-section {
  padding: 94px 0;
}

.advantages {
  display: flex;
}

.advantages-list {
  flex-basis: calc(100% / 4 - 30px);
  height: auto;
}

.advantages .advantages-list + .advantages-list {
  margin-left: 30px;
}

.advantager-icons {
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--back-light-grey);
}

.advantages-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-description {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* About us and our team in index.html*/
.about-us-title,
.our-team {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 50px;
}

/* Alternative */
/* .our-team {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
} */

/* About us in index.html*/
.about-us-section {
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
  margin-left: -30px;
}

/* Alternative */
/* .about-us-list .about-us + .about-us {
  padding-left: 30px;
} */

.about-us-list .about-us {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/* Alternative */
/* .about-us:first-child {
  margin-left: 0;
} */

.about-us {
  position: relative;
}

.about-us-text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 27px;

  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--back-light-black-op80);
}

/* Our team in index.html*/
.our-team-bgr {
  background: var(--back-light-grey)
}

.our-team-cont {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list .our-team-mbr {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

/* Alternative */
/* .our-team-mbr:first-child {
  margin-left: 0;
} */

.our-team-mbr {
  background-color: var(--white-text);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-descriptions {
  padding: 30px 32px;
}

.team-members {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
  text-align: center;
}

.team-members-position {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  text-align: center;
}

/* Team icons list*/
.team-icons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  cursor: pointer;

  fill: var(--light-grey);

  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--back-blue);
  fill: var(--white-text);
}

/* Regular customers */
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  fill: var(--light-grey);

  border: 1px solid var(--light-grey);
  box-sizing: border-box;
  border-radius: 4px;

  transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--back-blue);
  border: 1px solid var(--back-blue);
}

/* .customers-link:focus {
  fill: rgba(33, 150, 243, 1);
} */

/* Footer in index.html and portfolio.html */
.footer-background {
  background: var(--back-light-black);
  
  height: 252px;
  padding: 60px 0;
}

.footer-adress{
  display: flex;;
  align-items: baseline;
}

.footer-adress-link {
  margin-right: 70px;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  color: var(--white-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-link {
  margin-top: 20px;
}

.addres .addres-link + .addres-link {
  padding-top: 9px;
}

.link-white {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms var(--cubic);
}

.link-grey-footer {
  color: var(--grey-text-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms var(--cubic);
}

.link-grey-footer:hover,
.link-grey-footer:focus,
.link-white:hover,
.link-white:focus {
  color: var(--back-blue);
}

/* Alternative */
/* .link-white:hover,
.link-white:focus {
  color: var(--back-blue);
} */

/* Join us*/
.join {
  display: block;
  margin-right: 93px;
}

.title-join {
  font-weight: 700;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-right: -10px;
}

.join-link {
  margin-right: 10px;
}

.join-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  
  fill: var(--white-text);
  background-color: var(--back-light-grey-op10);
  border-radius: 50%;

  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.join-link-icon:hover,
.join-link-icon:focus {
  background-color: var(--back-blue);
}

/* Subscribe form */
.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.subscribe-input:focus,
.subscribe-input:hover {
  border: 1px solid var(--back-blue);
}

.subscribe-label {
  margin-right: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-text);
}

.subscribe-input {
  display: block;
  width: 358px;

  margin-top: 20px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  color: var(--grey-text-op60);
  background-color: var(--back-light-black);
  border: 1px solid rgba(255, 255, 255, 0.3);

  outline: none;
  border-radius: 4px;
}

.subscribe-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-text);
  background-color: var(--back-blue);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--white-text);
  color: var(--back-blue);
}

.telegram-icon {
  margin-left: 10px;
}

/* Modal window */
.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;

  transition: transform 250ms var(--cubic);
  background-color: var(--white-text);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;

  transition: fill 250ms var(--cubic);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  fill: var(--back-blue);
}

.call-back-textarea {
  height: 120px;

  margin-top: 4px;
  padding: 12px 16px;
}

.call-back-textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.call-back-input,
.call-back-textarea {
  width: 100%;
  resize: none;

  border: 1px solid;
  border-radius: 4px;
  outline: none;

  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color 250ms var(--cubic);
}

.cb-input-container > input:focus-within,
.call-back-textarea:focus-within,
.cb-input-container > input:hover,
.call-back-textarea:hover {
  border-color: var(--back-blue);
}

.call-back-input + svg {
  transition: fill 250ms var(--cubic);
}

.call-back-input:focus-within + svg,
.call-back-input:hover + svg {
  fill: var(--back-blue);
}

.call-back-title {
  text-align: center;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--black-text);
}

.call-back-label {
  display: block;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-text);
}

.cb-input-container {
  display: block;
  position: relative;

  margin-top: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.call-back-label:not(:first-of-type) {
  margin-top: 10px;
}

.call-back-label:first-of-type {
  margin-top: 12px;
}

.call-back-terms {
  display: flex;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

.terms {
  color: var(--back-blue);
  text-decoration: underline;
}

.call-back-submit {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 55px 10px 56px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-text);
  background-color: var(--back-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.call-back-submit:hover,
.call-back-submit:focus {
  background-color: rgb(24, 140, 232);
}

.call-back-icon {
  position: absolute;

  top: 50%;
  left: 12px;

  transform: translateY(-50%);
}

.checkbox-border {
  display: block;

  margin-right: 7px;
  cursor: pointer;

  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.call-back-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
}

.checkbox {
  appearance: none;
}

.checkbox:checked + .checkbox-border {
  border-radius: 2px;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--back-blue);
  fill: var(--back-blue);
}

/* Our projects from portfolio.html */
.our-project-container {
  margin: 94px auto;

}

.our-project-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .our-projects-filters:hover,
.filter .our-projects-filters:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-project-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.our-project-list .project-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Alternative */
/* .project-list:nth-child(3n) {
  margin-right: 0;
} */

/* .project-list:nth-last-child(-n+3) {
  margin-bottom: 0;
} */

.our-project-filter .filter + .filter {
  margin-left: 8px;
}

.project-list:hover,
.project-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-projects-filters {
  background: var(--back-light-grey);
  color: var(--black-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.our-projects-filters:hover,
.our-projects-filters:focus {
  background: var(--back-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.our-project-content {
  padding: 20px 24px;

  border-right: 1px solid var(--border-light-grey2);
  border-bottom: 1px solid var(--border-light-grey2);
  border-left: 1px solid var(--border-light-grey2);
}

.our-projects-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

}

.our-project {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-top: 4px;
}

.image-thumb {
  position: relative;
  overflow: hidden;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  height: 100%;
  width: 100%;

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--cubic);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: var(--white-text);
}

.project-images-link:focus .overlay,
.project-images-link:hover .overlay {
  transform: translateY(0);
}

.project-images-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.project-images-link:focus,
.project-images-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}