// Site navigation in index.html and portfolio.html
.header__main-link {
  display: flex;
  align-items: center;
}

.header--logo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-text);
}
  
.header--logo-blue {
  color: var(--back-blue);
}
  
.site-nav__link-black {
  position: relative;
  
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  transition: color 250ms var(--cubic);
}
  
.site-nav--current:visited {
  color: var(--back-blue);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
  
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.site-nav__link-black:hover,
.site-nav__link-black:focus {
  color: var(--back-blue);
}

.site-nav__link-black::after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
 
  width: 100%;
  height: 4px;
  
  transform: translateY(29.5px);
  transition: opacity 250ms var(--cubic);
  
  background-color: var(--back-blue);
  border-radius: 2px;
  
  opacity: 0;
}
  
.site-nav--current.site-nav__link-black::after {
  opacity: 1;
}
  
.site-nav__link-black:hover.site-nav__link-black::after {
  opacity: 1;
}